.fonction{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
        
}

.page-carte{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
}


.sectioncarte__prix{
    margin-right: -3px;
    margin-left: 7px;
}

.sectioncarte__article{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.sectioncarte__coeur{
    position: relative;
    bottom: 37px
}

.resto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}