@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
body {
  margin: auto;
  font-family:"Roboto", sans-serif;
}

h1.sectioncarte__grostitre{
  font-family: Shrikhand;
}

.footer {
  display: flex;
  flex-direction: column;
  background: $black;
  color: $white;
  &__titre {
    margin-left: 40px;
    font-style: italic;
  }
  &__bas {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style-type: none;
    margin-top: 0px;
    &__icons1 {
      display: flex;
      gap: 12px;
    }
    &__icons2 {
      display: flex;
      gap: 6px;
    }
  }
}
.loadingcontainer{
  display: flex;
  align-items: center;
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: $white;
  animation: loading-visibility 3s linear both;  
}

@keyframes loading-visibility{
  from{
    opacity: 1;
    visibility: visible ;
  }
  to{
    opacity: 1;
    visibility: hidden ;
  }
}

.loading{
  margin: auto;
  border: 20px solid $tertiary-color;
  border-top: 20px solid $primary-color;
  width: 200px;
  height: 200px;
  animation: spinner 2s linear infinite;
  border-radius: 50%;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}