@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin heart {
    :hover{
        background: -webkit-linear-gradient($primary-color,$secondary-color);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 900;
    }
}


@mixin rounded-btn {
    border-radius: 30px 30px 30px 30px;
    height: 51px;
    width: 53%;
    border: none;
    font-size: 14px;
    color: $white;
    background: linear-gradient(355deg,$primary-color 0%, $secondary-color 80%);
}


@mixin overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    }
