$primary-color: #9356DC ;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$dark-gray:#333333;
$white: #ffffff;
$black: #353535;
$whitesmoke: #f5f5f5;
$lightgray:#d3d3d3;
$gray: #d3d3d38c;
$blackgray: #00000030;
$green: #3b8468;
