$primary-color: #9356DC ;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$dark-gray:#333333;
$white: #ffffff;
$black: #000000;
$whitesmoke: #f5f5f5;
$lightgray:#d3d3d3;
$gray: #d3d3d38c;
$blackgray: #00000030