.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  &__logo {
    & img {
      width: 160px;
      height: 45px;
    }
  }
  &__localization {
    font-size: 16px;
    background: $gray;
    font-weight: bold;
    color: $dark-gray;
  }
  &__texte {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-right: 1rem;
  }
}

.headercarte {
  text-align: center;
  &__image {
    width: 106%;
    object-fit: cover;
    height: 245px;
  }
  &__logo {
    margin-bottom: 10px;
  }
  &__lienfleche {
    text-decoration: none;
    display: flex;
    position: relative;
    left: 2rem;
    top: 1.6rem;
    font-size: 22px;
    color: $black;
  }
}
