.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  &__logo {
    & img {
      width: 160px;
      height: 45px;
    }
  }
  &__localization {
    font-size: 16px;
    background: $gray;
    font-weight: bold;
    color: $dark-gray;
  }
  &__texte {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-right: 1rem;
  }
}

.headercarte {
  text-align: center;
  &__image {
    width: 100%;
    object-fit: cover;
    height: 245px;
    @media(min-width: 1024px) {
      min-height: 30rem;
    }
  }
  &__logo {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  &__lienfleche {
    text-decoration: none;
    display: flex;
    position: absolute;
    font-size: 25px;
    color: #353535;
    top: 18px;
    left: 2rem;
  }
}
