.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    &__logo {
        & img {
            width: 150px;
            height: 45px;
        }
    }
    &__localization {
        font-size: 16px;
        background: lightgray;
        font-weight: bold;
        color: $dark-gray;
        
    }
}



.headercarte{
    text-align: center;
    &__image{
        width: 100%;
    object-fit: cover;
    }
}